.App {
	text-align: center;
}

.row {
	padding-left: -15px;
	padding-right: -15px;
}

.App-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #282c34;
}

.col-md-6 {
	background-color: #282c34;
}

.App-content {
	color: white;
	min-height: 85vh;
}

.App-link {
	color: #61dafb;
}

.input_group {
	margin-bottom: 10px;
}

.submit_button {
	margin-bottom: 10px;
}

.errors {
	color: red;
}
